// SETTINGS
// -> Grid and font settings, variables, mixins and useful css-classes
//==============================================================================================================

// 1.1 	LAYOUT: MEDIAQUERIES BREAKPOINTS + CUSTOM WIDTHS (PX)
// 1.2 	LAYOUT: GRID-GUTTERS (PX)
// 2. 	BODY BASE-TYPE + UNIQUE BODY-SIZE WITHIN EACH MEDIAQUERY (PX) + MISC TYPESIZES
// 3. 	CALC FUNCTION AND LAYOUT VARS
// 4. 	TYPEFACES
// 5. 	COLORS
// 6.   IMG RATIOS
// 7.   HEADER SLIDES
// 8.   MISC VARS

//==============================================================================================================

// 1.1 -----------------------------------------------------------------------------------------------------------

$beta_screen: 650; // (Use as variable: "$beta_query")
$charlie_screen: 900; // (Use as variable: "$charlie_query")
$delta_screen: 1430; // (Use as variable: "$delta_query")
$echo_screen: 1900; // (Use as variable: "$echo_query")
$max_width: 980; // (Use as variable: "$containerwidth")

// Decreased maxwidth
$width_decr: 62.5%; // (Use as HTML-class, added to l-container: "decr-mw")
$max_width_decr: 7em; // (Use as HTML-class, added to l-container: "decr-mw")

// Increased maxwidth
$max_width_incr: 1200px; // (Use as HTML-class, added to l-container: "incr-mw")

//WIDTH DEFINITIONS ==============================================================================================================

$spanwidth-1:  8.33%;
$spanwidth-2:  16.66%;
$spanwidth-3:  25%;
$spanwidth-4:  33.33%;
$spanwidth-5:  41.66%;
$spanwidth-6:  50%;
$spanwidth-7:  58.33%;
$spanwidth-8:  66.66%;
$spanwidth-9:  75%;
$spanwidth-10: 83.33%;
$spanwidth-11: 91.66%;
$spanwidth-12: 100%;


// 1.2 -----------------------------------------------------------------------------------------------------------

$alpha_gutter: 17; // (Use as variable: "$gutter_alpha" and "$gutter_alpha_half")
$beta_gutter: 36; // Use as variable: "$gutter_beta" and "$gutter_beta_half")
$charlie_gutter: 20; // (Use as variable: "$gutter_charlie" and "$gutter_charlie_half")
$delta_gutter: 40; // (Use as variable: "$gutter_delta" and "$gutter_delta_half")
$echo_gutter: 30; // (Use as variable: "$gutter_echo" and "$gutter_echo_half")

// 2 -----------------------------------------------------------------------------------------------------------

$fontsize: 18;
$body_leading: 26; // (Use as variable: "$leading")

$fontsize_beta: 21;
$body_leading_beta: 30;

$fontsize_charlie: $fontsize;
$body_leading_charlie: $body_leading;

$fontsize_delta: 21;
$body_leading_delta: 32;

$fontsize_echo: 24;
$body_leading_echo: 36;

// --

$rem_base: 18;

// --

$inputfontsize: $fontsize;
$inputheight: $body_leading*2; // used for input type="submit" aka .a-btn as well
$btnfontsize: 14;

// 3 -----------------------------------------------------------------------------------------------------------

// VARIABLES WITH UNITS -> Build variables for lineheight, containerwidth and breakpoints with units (rem or pixels).
// Purpouse: extend basic layout values to be used for whatever.

// $leading, lineheight in rem for smallest screen
// $leading_beta, lineheight in rem for beta screen
// $leading_charlie, lineheight in rem for charlie screen
// $leading_delta, lineheight in rem for delta screen
// $leading_echo, lineheight in rem for echo screen

// $containerwidth, maxwidth for layouted areas in pixels

// $*_query, output mediaquerybreakpoints in pixels

// -----------------------------------------------------------------------------------------------------------

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($px, $countbase: $rem_base){
  @return strip-unit($px)/$countbase+0rem;
}

$leading: rem($body_leading);
$leading_beta: rem($body_leading_beta);
$leading_charlie: rem($body_leading_charlie);
$leading_delta: rem($body_leading_delta);
$leading_echo: rem($body_leading_echo);

$containerwidth: $max_width+($echo_gutter*2)+0px;

$beta_query: $beta_screen+0px;
$charlie_query: $charlie_screen+0px;
$delta_query: $delta_screen+0px;
$echo_query: $echo_screen+0px;

$delta_cont_width: $containerwidth*1.2;
$echo_cont_width: $containerwidth*1.5;

// 4 -----------------------------------------------------------------------------------------------------------

$bodyfont: 'ff-tisa-web-pro', serif;
$captionfont-1: $bodyfont;
$captionfont-2: serif;
$compfont: 'droid-sans-mono', sans-serif;
$wfl-fallbackfont: serif;
$icon-font: 'sb_icons';

// 5 -----------------------------------------------------------------------------------------------------------

$body-bgcolor: #fff;
$body-textcolor: #191b19; // #222
$action-color: green;
$subtle-textcolor: lighten($body-textcolor, 30%);
$subtle-bgcolor: #eee;
$subtle-bordercolor: lighten($body-textcolor, 70%); // #c8c8c8
$input-bgcolor: white;
$highlight-bgcolor: lighten(yellow, 25%);
$error-text: hotpink;

// 6 -----------------------------------------------------------------------------------------------------------

$ratio-1-1: 100%;
$ratio-4-3: 74%;
$ratio-16-9: 56%;

$flickety-cell-width_alpha: 86;
$flickety-cell-width_beta: 62.5;
$flickety-cell-width_charlie: 40;
$flickety-cell-width_delta: 40;
$flickety-cell-width_echo: 29;

// 7 -----------------------------------------------------------------------------------------------------------

$header-slide_height: $body_leading*3.35;
$header-slide_z: 200;
$header-slide__offset: $body_leading*6;

// 8 -----------------------------------------------------------------------------------------------------------

$transition-time: 300ms;
$borderwidth: 2px;
$avatar-size: rem(160);