// Styling used for the components-demo only, not production.

.t-components{

  code{
    display: inline;
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: $accent-1;
    text-transform: none;
  }

  .a-btn + .a-btn{
    margin-top: $body_leading/$basefont+0rem;
  }

  .row + .row{
    border-top: 1px solid;
  }

  .row + .row.padded{
    border-top: none;
  }

  .a-small.components__title{
    font-size: 1em;
    font-weight: bold;
    margin: rem($body_leading*2) 0 rem($body_leading);
  }

  .m-components{
    position: relative;

    &.text >{
      * + *{
        margin-top: ($body_leading*2)/$basefont+0rem;
      }
    }
  }

  .m-compontents__subtle_example{
    color: $subtle-text;
  }

  .lib-overlay-container{
    position: relative;
  }

  .lib-color{
    height: 5.3rem;
    padding: 2rem 0;
    text-align: center;
    color: $body;

    &.action{
      background: $action;
    }

    &.accent-1{
      background: $accent-1;
    }

    &.accent-2{
      background: $accent-2;
    }

    &.accent-3{
      background: $accent-3;
    }

    &.subtle{
      color: $bodycolor;
      background: $subtle-bg;
    }

    &.gradient{
      @include gradient();
    }

    &.gradient-overlay{
      @extend .overlay;
    }

    &.gradient-complementary{
      @include multigradient();
    }
  }

  #wfl-test{
    font-family: 'Aclonica';
    font-size: 2em;
  }
} // end .t-components