

// MOLECULES ---------------------------------------------------------------------

.m-listitem {
  display: block;
  text-align: center;
}

.a-listitem-title{
  margin: 0;

  &:before{
    display: none;
  }
}

.m-listitem__section{

  .m-prf + .a-listitem-title{
    margin-top: rem($body_leading+3);
  }
}

.a-listitem-meta-date{
  margin: rem($body_leading*0.75) 0 0 0;
}

.m-listitem + .m-listitem,
.js-addedPage{
  margin-top: rem($body_leading*3);
}

.m-listitem.has-no-thumbnail + .m-listitem,
.m-listitem.has-no-thumbnail + .js-addedPage{
  padding-top: rem($body_leading*3);
  border-top: 1px solid $subtle-border;
}

.m-listitem .mis_container{
  margin-top: $leading*1.25;
}

.js-addedPage .m-listitem {
  opacity: 0;
  transform: translate3d(0,rem($body_leading*3),0);
}



// TEMPLATES -----------------------------------------

.archive,
.home{

  .o-listitems .mis_container:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 75;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: rem(9) rem(9) 0 rem(9);
    border-color: $body transparent transparent transparent;
  }
}