// ATOMS
// ===========================================================


// MOLECULE
// ===========================================================

.m-gridview__item{
	position: relative;
	float: left;
	width: 50%;
	
	@media all and (min-width: $beta_query) {
		width: 33%;
	}
	
	@media all and (min-width: $charlie_query) {
		width: 25%;
	}
	
	@media all and (min-width: $delta_query) {
		width: 20%;
	}
	
	@media all and (min-width: $echo_query) {
		width: 16.6%;
	}
	
	.m-gridview__centered{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		
		&.overlay-item{
			color: $body;
			background: rgba(0,0,0,0.3);
		}
	}
	
	.a-gridview__centered__text{
		position: absolute;
		top: 50%;
		z-index: 20;
		left: $alpha_gutter / $basefont +0rem;
		right: $alpha_gutter / $basefont +0rem;
		transform: translate(0, -50%);
		@include type-to-vmin(13, 3, 1.5);
		text-align: center;
		
		@media all and (min-width: $beta_query) {
			left: $beta_gutter / $basefont +0rem;;
			right: $beta_gutter / $basefont +0rem;;
			@include type-to-vmin(13, 1.75, 1.5);
		}
		
		@media all and (min-width: $charlie_query) {
			left: $body_leading / $basefont +0rem;;
			right: $body_leading / $basefont +0rem;;
			@include type-to-vmin(13, 1.75, 1.5);
		}
	}
}

// ORGANSIM
// ===========================================================

.o-gridview{
	@extend .l-clearfix;
	
	&.padded{
		margin-right: -$gutter_alpha_half;
		margin-left: -$gutter_alpha_half;
		
		@media all and (min-width: $beta_query) {
			margin-right: -$gutter_beta_half;
			margin-left: -$gutter_beta_half;
		}
		
		@media all and (min-width: $charlie_query) {
			margin-right: -$gutter_charlie_half;
			margin-left: -$gutter_charlie_half;
		}
		
		@media all and (min-width: $delta_query) {
			margin-right: -$gutter_delta_half;
			margin-left: -$gutter_delta_half;
		}
		
		@media all and (min-width: $echo_query) {
			margin-right: -$gutter_echo_half;
			margin-left: -$gutter_echo_half;
		}
		
		.m-gridview__item{
			padding: $gutter_alpha_half;
			
			@media all and (min-width: $beta_query) {
				padding: $gutter_beta_half;
			}
			
			@media all and (min-width: $charlie_query) {
				padding: $gutter_charlie_half;
			}
			
			@media all and (min-width: $delta_query) {
				padding: $gutter_delta_half;
			}
			
			@media all and (min-width: $echo_query) {
				padding: $gutter_echo_half;
			}
		}
		
		.m-gridview__centered{
			top: $gutter_alpha_half;
			right: $gutter_alpha_half;
			bottom: $gutter_alpha_half;
			left: $gutter_alpha_half;
			
			@media all and (min-width: $beta_query) {
				top: $gutter_beta_half;
				right: $gutter_beta_half;
				bottom: $gutter_beta_half;
				left: $gutter_beta_half;
			}
			
			@media all and (min-width: $charlie_query) {
				top: $gutter_charlie_half;
				right: $gutter_charlie_half;
				bottom: $gutter_charlie_half;
				left: $gutter_charlie_half;
			}
			
			@media all and (min-width: $delta_query) {
				top: $gutter_delta_half;
				right: $gutter_delta_half;
				bottom: $gutter_delta_half;
				left: $gutter_delta_half;
			}
			
			@media all and (min-width: $echo_query) {
				top: $gutter_echo_half;
				right: $gutter_echo_half;
				bottom: $gutter_echo_half;
				left: $gutter_echo_half;
			}
		}
	}
	
	// ALPHA = 2 items before clearfloat
	
	.m-gridview__item:nth-of-type(2n+1){
		clear: both;
		
		@media screen and (min-width: $beta_query) {
			clear: none;
		}
	}

	// BETA = 3 items before clearfloat

	.m-gridview__item:nth-of-type(3n+1){
		@media screen and (min-width: $beta_query) {
			clear: both;
		} @media screen and (min-width: $charlie_query) {
			clear: none;
		}
	}
	
	// CHARLIE = 4 items before clearfloat

	.m-gridview__item:nth-of-type(4n+1){
		@media screen and (min-width: $charlie_query) {
			clear: both;
		} @media screen and (min-width: $delta_query) {
			clear: none;
		}
	}
	
	// DELTA = 5 items before clearfloat
	
	.m-gridview__item:nth-of-type(5n+1){
		@media screen and (min-width: $delta_query) {
			clear: both;
		} @media screen and (min-width: $echo_query) {
			clear: none;
		}
	}
	
	// ECHO = 6 items before clearfloat
	
	.m-gridview__item:nth-of-type(6n+1){
		@media screen and (min-width: $echo_query) {
			clear: both;
		}
	}
}


// STATES
// ===========================================================



// ANIMATIONS
// ===========================================================

.transitions{
	
}