// ATOMS
// ===========================================================

.js .a-modal__btn{
	display: block;
	text-indent: -9999px;
	width: 24px;
	height: 24px;
	overflow: hidden;
	
	&:after{
		@include setIcon();
		content: '\e043';
		top: 0;
		right: 0;
		font-size: 24px;
		color: $action;
	}
}


// MOLECULE
// ===========================================================

.js .m-modal__popup{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -400;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 45em;
	margin: 0 auto; 
	padding: $gutter_alpha;
	padding-right: $gutter_alpha*1.5;
	border-radius: $leading/4;
	background: $body;
	// box-shadow: 0 0 8px rgba($bodycolor, 0.14);
	pointer-events: none;
	z-index: -600;
	
	&.warning{
		color: $msg-warning;
		background-color: $msg-warning-bg;
	}
	
	&.ok{
		color: $msg-ok;
		background-color: $msg-ok-bg;
	}
	
	@media all and (min-width: $beta_query) {
		padding: $gutter_beta;
		padding-right: $gutter_beta*1.5;
	}
	
	@media all and (min-width: $charlie_query) {
		padding: $gutter_charlie;
		padding-right: $gutter_charlie*1.5;
	}
	
	.a-modal__btn{
		position: absolute;
		z-index: -300;
		top: $gutter_alpha_half;
		right: $gutter_alpha_half;
		
		@media all and (min-width: $beta_query) {
			top: $gutter_beta_half;
			right: $gutter_beta_half;
		}
		
		@media all and (min-width: $charlie_query) {
			top: $gutter_charlie_half;
			right: $gutter_charlie_half;
		}
	}
}

// ORGANSIM
// ===========================================================

.js .o-modal{
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -500;
	opacity: 0;
	background-color: rgba($bodycolor, 0.7);
	pointer-events: none;
}

// STATES
// ===========================================================

.js .a-modal__btn:hover{
	cursor: pointer;
}

.js .o-modal.s-is-active{
	visibility: visible;
	opacity: 1;
	z-index: 300;
	pointer-events: auto;
	
	.m-modal__popup{
		z-index: 400;
		pointer-events: auto;
	}
	
	.a-modal__btn{
		z-index: 500;
	}
}

.no-js .a-modal__btn,
.no-js .m-modal__popup{
	display: none;
}

// ANIMATIONS
// ===========================================================

.transitions{
	.o-modal{
		transition: opacity 0.3s ease-out;
	}
}