// ATOMS
// ===========================================================

.js .a-toggled__toggler{
	position: relative;
	cursor: pointer;
	
	&:after{
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 50;
		height: inherit;
		width: auto;
		font-family: $icon-font;
		font-size: inherit;
		line-height: inherit;
		font-weight: normal;
		content: '\e114';
		color: $action;
		pointer-events: none;
	}
}

// MOLECULE
// ===========================================================

.js-toggleTarget {
  padding: $leading 0;
  transform: translateZ(0);
}

// ORGANSIM
// ===========================================================


// STATES
// ===========================================================

.js-toggle.s-is-active .a-toggled__toggler{
	
	&:after{
		content: '\e115';
	}
}

.no-js .a-toggled__toggler:after{
	display: none;
}


// ANIMATIONS
// ===========================================================

.transitions{
	
}