html{
  font-size: $fontsize+0px;
  box-sizing: border-box;
}

@media all and (min-width: $beta_query) {

  html{
    font-size: $fontsize_beta+0px;
  }
}

@media all and (min-width: $charlie_query) {

  html{
    font-size: $fontsize_charlie+0px;
  }
}

@media all and (min-width: $delta_query) {

  html{
    font-size: $fontsize_delta+0px;
  }
}

@media all and (min-width: $echo_query) {
  html{
    font-size: $fontsize_echo+0px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  font-family: $bodyfont;
  font-size: 1rem;
  line-height: $body_leading/$fontsize;
  color: $body-textcolor;
  background: $body-bgcolor;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color : rgba(0,0,0,0.2);

  @media all and (min-width: $beta_query) {
    line-height: $body_leading_beta/$fontsize_beta;
  }

  @media all and (min-width: $charlie_query) {
    line-height: $body_leading_charlie/$fontsize_charlie;
  }

  @media all and (min-width: $delta_query) {
    line-height: $body_leading_delta/$fontsize_delta;
  }

  @media all and (min-width: $echo_query) {
    line-height: $body_leading_echo/$fontsize_echo;
  }
}

main{
  padding-top: rem($header-slide__offset*0.83);

  @media all and (min-width: $beta_query) {
    padding-top: rem($header-slide__offset);
  }
}

p{
  margin-top: rem($body_leading);
  margin-bottom: rem($body_leading);

  @media all and (min-width: $beta_query) {
    margin-top: rem($body_leading_beta);
    margin-bottom: rem($body_leading_beta);
  }

  @media all and (min-width: $charlie_query) {
    margin-top: rem($body_leading_charlie);
    margin-bottom: rem($body_leading_charlie);
  }
}

img,
object,
embed {
  display: block;
  max-width: 100%;
  height: auto;
}

strong{
  font-weight: bold;
}

em,
blockquote{
  font-style: italic;
}

a{
  color: $action-color;
  text-decoration: none;
}

#mq-watcher {
  font-family: "aq";

  @media all and (min-width: $beta_query) {
    font-family: "bq";
  }

  @media all and (min-width: $charlie_query) {
    font-family: "cq";
  }

  @media all and (min-width: $delta_query) {
    font-family: "dq";
  }

  @media all and (min-width: $echo_query) {
    font-family: "eq";
  }
}