// EXTENDS & PLACEHOLDERS ===========================================================================================================

.row{
  margin-top: $leading;
  margin-bottom: $leading;

  &.padded{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: $leading;
    padding-bottom: $leading;

    & + .padded{
      border-top: 1px solid;
    }
  }
}

.fullbleed{
 @include fullbleed();
}

.colortheme-1{
  color: white;
  background-color: $accent-2;

  .a-large{
    color: white;
  }

  .a-inputText,
  .a-textarea,
  .a-btn{
    border-color: transparent;
  }

  .span-theme-1{
    color: $accent-3;
  }
}

.colortheme-2{
  font-family: $captionfont-2;
  color: $accent-2;
  background-color: $action;

  .a-large{
    // font-family: $captionfont-1;
    color: $accent-2;
    border-color: $accent-2;
  }

  a{
    color: white;
  }

  .a-inputText,
  .a-textarea,
  .a-btn{
    border-color: transparent;
  }
}

.overlay{
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bodycolor;
  background-color: rgba($bodycolor, 0.65);

  &.gradient{
    @include gradient(rgba($startcolor_multi,0.4), rgba($stopcolor_multi, 0.4), transparent);
  }

  .overlay__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}