

// MIXINS ------------------------------------------------------------

@mixin type-to-vmin($pxFallback: 16, $vmin: 4, $lineheight: 1.5){
  font-size: $pxFallback / 16 + 0em;
  font-size: $vmin + 0vm;
  font-size: $vmin + 0vmin;
  line-height: $lineheight;
}

@mixin swap_text_for_img($sizeX:0, $sizeY:0){
  display: block;
  text-indent: -9999px;
  width: $sizeX+0px;
  height: $sizeY+0px;
  overflow: hidden;
  background: {
    size: $sizeX+0px $sizeY+0px;
    repeat: no-repeat;
    position: center center;
  }
}

@mixin formText(){
  font-size: rem($inputfontsize);
  line-height: rem($inputheight);
  font-family: $bodyfont;
  width: 100%;
  padding: 0;

  &::-webkit-input-placeholder {
    color: $subtle-textcolor;
  }

  &:-moz-placeholder {
    color: $subtle-textcolor;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: $subtle-textcolor;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $subtle-textcolor;
  }

  &.inline{
    display: inline-block;
    width: auto;
  }
}

@mixin formBtn(){
  display: block;
  width: 100%;
  font-size: rem($inputfontsize);
  height: rem($inputheight);
  line-height: rem($inputlineheight);
  text-decoration: none;
  text-align: center;
  font-family: $bodyfont;
  // -webkit-font-smoothing: antialiased;
  // text-rendering: optimizeLegibility;

  &.inline{
    display: inline-block;
    width: auto;
  }
}

@mixin setIcon(){
  position: absolute;
  display: block;
  z-index: 50;
  line-height: inherit;
  font-family: $icon-font;
  text-indent: 0;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin fullbleed($mq:bq){

  @if $mq == 'aq' {
    @media all and (max-width: $beta_query) {
      margin-right: rem(-$alpha_gutter);
      margin-left: rem(-$alpha_gutter);
    }
  }

  @if $mq == 'bq' {
    @media all and (max-width: $charlie_query) {
      margin-right: rem(-$beta_gutter);
      margin-left: rem(-$beta_gutter);
    }

    @media all and (max-width: $beta_query) {
      margin-right: rem(-$alpha_gutter);
      margin-left: rem(-$alpha_gutter);
    }
  }

  @if $mq == 'cq' {
    @media all and (max-width: $delta_query) {
      margin-right: rem(-$charlie_gutter);
      margin-left: rem(-$charlie_gutter);
    }

    @media all and (max-width: $charlie_query) {
      margin-right: rem(-$beta_gutter);
      margin-left: rem(-$beta_gutter);
    }

    @media all and (max-width: $beta_query) {
      margin-right: rem(-$alpha_gutter);
      margin-left: rem(-$alpha_gutter);
    }
  }

  @if $mq == 'dq' {
    @media all and (max-width: $echo_query) {
      margin-right: rem(-$delta_gutter);
      margin-left: rem(-$delta_gutter);
    }

    @media all and (max-width: $delta_query) {
      margin-right: rem(-$charlie_gutter);
      margin-left: rem(-$charlie_gutter);
    }

    @media all and (max-width: $charlie_query) {
      margin-right: rem(-$beta_gutter);
      margin-left: rem(-$beta_gutter);
    }

    @media all and (max-width: $beta_query) {
      margin-right: rem(-$alpha_gutter);
      margin-left: rem(-$alpha_gutter);
    }
  }

  @if $mq == 'eq' {
    @media all and (max-width: $echo_query) {
      margin-right: rem(-$delta_gutter);
      margin-left: rem(-$delta_gutter);
    }

    @media all and (max-width: $delta_query) {
      margin-right: rem(-$charlie_gutter);
      margin-left: rem(-$charlie_gutter);
    }

    @media all and (max-width: $charlie_query) {
      margin-right: rem(-$beta_gutter);
      margin-left: rem(-$beta_gutter);
    }

    @media all and (max-width: $beta_query) {
      margin-right: rem(-$alpha_gutter);
      margin-left: rem(-$alpha_gutter);
    }

    @media all and (min-width: $echo_query) {
      margin-right: rem(-$echo_gutter);
      margin-left: rem(-$echo_gutter);
    }
  }
}