// TEXT ==============================================================================================================

.a-xlarge,
.a-large,
.a-medium,
.a-small,
strong,
.a-sitename,
.a-prf-text{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  a,
  span,
  strong{
    font-weight: inherit;
  }
}

.a-xlarge,
.a-large{
  word-wrap: break-word;

  @media all and (min-width: $beta_query) {
    word-wrap: normal;
  }
}

.a-xlarge{
  font-size: rem(42);
  line-height: rem(48);
}

.a-large{
  font-size: rem(33);
  line-height: rem(39);
  margin-top: rem($body_leading*3);
  margin-bottom: rem($body_leading*2);
  // text-align: center;

  @media all and (min-width: $beta_query) {
    margin-top: rem($body_leading_beta*3);
    margin-bottom: rem($body_leading_beta*2);
  }

  &:before {
    @extend %divider;
  }
}

.a-medium{
  font-size: rem(24);
  line-height: rem(30);
}

.a-small{
  font-size: rem(16);
  font-weight: bold;
}

.a-preamble{
  font-size: rem(21);
  line-height: rem(33);
  color: $subtle-textcolor;
}

.a-fineprint{
  font-size: rem(14);
  line-height: rem(21);
  color: $subtle-textcolor;
}

a[href^="http://"],
a[href^="https://"]{
  word-wrap: break-word;
}

a[href^="http://www.mis.1979design.se"],
a[href^="http://mis.1979design.se"],
a[href^="http://www.samuelbrynolf.se"],
a[href^="http://samuelbrynolf.se"]{
  word-wrap: normal;
}

// ----------


// LISTS =============================================================================================================


.a-ol,
.a-ul{
  margin-top: rem($body_leading);
  margin-bottom: rem($body_leading);

  @media all and (min-width: $beta_query) {
    margin-top: rem($body_leading_beta);
    margin-bottom: rem($body_leading_beta);
  }

  li + li{
    margin-top: rem($body_leading/2);

    @media all and (min-width: $beta_query) {
      margin-top: rem($body_leading_beta/2);
    }
  }
}

.a-ol{
  margin-left: rem($alpha_gutter*1.5);
  list-style: decimal;

  @media all and (min-width: $beta_query) {
    margin-left: rem($beta_gutter*0.75);
  }
}

.a-ul{
  margin-left: rem($alpha_gutter*1.35);
  list-style: disc;

  @media all and (min-width: $beta_query) {
    margin-left: rem($beta_gutter*0.62);
  }
}

.a-ul-large{

  li{
    padding: rem($body_leading);

    @media all and (min-width: $beta_query) {
      padding: rem($body_leading_beta);
    }
  }

  li + li{
    border-top: 1px solid $subtle-bordercolor;
  }

  .a-ul-large__span,
  a .a-ul-large__span{
    display: inline-block;
    float: right;
    font-size: rem(18);
    color: $body-textcolor;
  }
}

.a-ccard__bio{
  text-align: center;
}


// IMAGES + VIDEO/MEDIA =============================================================================================================


img.forcewidth{
  //width: 100%;
}

@media all and (min-width: $beta_query) {
  .js .js-medialoadEffect img{
    //opacity: 0;
  }
}

// ICONS =============================================================================================================

.a-sitename{
  text-indent: -9999px;
  height: 1px;
  overflow: hidden;
}

.a-icon {
  position: relative;
  display: block;

  &:before,
  &:after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: $icon-font;
    font-size: inherit;
    line-height: inherit;
    pointer-events: none;
  }

  &:after{
    left: auto;
    right: 0;
  }

  &.twitter:before{
    content: '\ea91';
  }

  &.github:before{
    content: '\eab2';
  }

  &.linkedin:before{
    content: '\eac9';
  }

  &.aventyret:before{
    content: '\e916';
  }

  &.email:before{
    content: '\e908';
  }

  &.phone:before{
    content: '\e942';
  }

  &.arrowtop:after{
    content: '\ea3a';
  }

  &.arrowright:after{
    content: '\ea3c';
  }

  &.arrowleft:before{
    content: '\ea40';
  }

  &.arrowdown:after{
    content: '\ea3e';
  }

  &.search:before{
    content: '\e986';
  }

  &.close:after{
    content: '\ea0f';
  }
}

// FORMS ==============================================================================================================



// BUTTONS + EVENT-ELEMENTS ==============================================================================================================

// IN THE LAND OF THE MORNING STAR

.a-btn,
.bap_loadbutton{
  display: block;
  width: auto;
  height: rem($inputheight);
  padding-right: rem($alpha_gutter/$btnfontsize);
  padding-left:  rem($alpha_gutter/$btnfontsize);
  font-family: $bodyfont;
  font-size: rem($btnfontsize);
  line-height: rem($inputheight);
  text-align: center;
  text-decoration: none;
  color: $action-color;
  border: 1px solid $action-color;
  background-color: $body-bgcolor;

  @media all and (min-width: $beta_query) {
    padding-right: rem($body_leading/$btnfontsize);
    padding-left: rem($body_leading/$btnfontsize);
  }
}

.a-topjump{
  @extend .a-fineprint;
  margin-top: rem($body_leading*3);
  padding-right: rem($alpha_gutter);
  text-align: right;
  color: $action-color;

  @media all and (min-width: $beta_query) {
    margin-top: rem($body_leading_beta*3);
    padding-right: rem($beta_gutter*0.75);
  }
}

.a-archive__divider{
  height: 1px;
  margin-top: rem($body_leading);
  background-color: $subtle-bordercolor;

  @media all and (min-width: $beta_query) {
    margin-top: rem($body_leading_beta);
  }
}

.js-jumper[href="#js-entry-content"] {
  display: block;
}

.a-external__a {

  a:after{
    font-family: $icon-font;
    font-size: rem(12);
    content: ' \e9cb';
    line-height: inherit;
  }
}