// TEXT ==============================================================================================================

.a-xlarge,
.a-large,
.a-medium,
.a-small,
strong,
.a-sitename,
.a-prf-text{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  a,
  span,
  strong{
    font-weight: inherit;
  }
}

.a-xlarge,
.a-large{
  word-wrap: break-word;

  @media all and (min-width: $beta_query) {
    word-wrap: normal;
  }
}

.a-xlarge{
  @include type-to-em(42,48);
}

.a-large{
  @include type-to-em(33,39);
  margin-top: rem($body_leading*3);
  margin-bottom: rem($body_leading*2);
  text-align: center;

  &:before {
    @include divider();
  }
}

.a-medium{
  @include type-to-em(24,30);
}

.a-small{
  @include type-to-em(16,$body_leading);
  font-weight: bold;
}

.m-preamble{
  @include type-to-em(27,33);
  font-style: italic;
  text-align: center;

  h2{
    font-style: inherit;
  }
}

.a-fineprint{
  @include type-to-em(14,21);
  color: $subtle-text;
}

a[href^="http://"],
a[href^="https://"]{
  word-wrap: break-word;
}

a[href^="http://www.mis.1979design.se"],
a[href^="http://mis.1979design.se"],
a[href^="http://www.samuelbrynolf.se"],
a[href^="http://samuelbrynolf.se"]{
  word-wrap: normal;
}

// ----------


// LISTS =============================================================================================================


.a-ol,
.a-ul{
  margin-top: $leading;
  margin-bottom: $leading;

  li + li{
    margin-top: rem($body_leading/2);
  }
}

.a-ol{
  margin-left: rem($alpha_gutter*1.8);
  list-style: decimal;
}

.a-ul{
  margin-left: rem($alpha_gutter*1.5);
  list-style: disc;
}

.a-ul-large{
  text-align: center;

  li{
    padding: rem($body_leading);
  }

  li + li{
    border-top: 1px solid $subtle-border;
  }

  .a-ul-large__span,
  a .a-ul-large__span{
    color: $bodycolor;
  }
}

.a-ccard__p{
  text-align: center;
}


// IMAGES + VIDEO/MEDIA =============================================================================================================

.a-sitename{
  @include swap_text_for_img(60,60);
  background-image: url(img/component_demo_imgs/logo.jpg);

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url(img/component_demo_imgs/logo_hires.jpg);
  }
}

img.forcewidth{
  width: 100%;
}

@media all and (min-width: $beta_query) {
  .js .js-medialoadEffect img{
    opacity: 0;
  }
}

// ICONS =============================================================================================================

.a-icon {
  position: relative;
  display: block;

  &:before,
  &:after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: $icon-font;
    font-size: inherit;
    line-height: inherit;
    pointer-events: none;
  }

  &:after{
    left: auto;
    right: 0;
  }

  &.twitter:before{
    content: '\ea91';
  }

  &.github:before{
    content: '\eab2';
  }

  &.linkedin:before{
    content: '\eac9';
  }

  &.aventyret:before{
    content: '\e916';
  }

  &.email:before{
    content: '\e908';
  }

  &.phone:before{
    content: '\e942';
  }

  &.arrowtop:after{
    content: '\ea3a';
  }

  &.arrowright:after{
    content: '\ea3c';
  }

  &.arrowleft:before{
    content: '\ea40';
  }

  &.arrowdown:after{
    content: '\ea3e';
  }

  &.search:before{
    content: '\e986';
  }

  &.close:after{
    content: '\ea0f';
  }
}

// FORMS ==============================================================================================================

.a-inputText{
  @include formText();
  border: 1px solid $action;
  background: $inputbg;
}

.a-textarea{
  @include formText();
  line-height: 1.5;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  background: $inputbg;
}


// BUTTONS + EVENT-ELEMENTS ==============================================================================================================

.a-btn,
.bap_loadbutton{
  @include formBtn();
}

.a-topjump{
  @extend .a-fineprint;
  margin-top: $leading*3;
  padding-right: $alpha_gutter*2/$btnfontsize+0em;
  text-align: right;
  color: $action;
}