// TEXT ==============================================================================================================

.a-xlarge,
.a-large,
.a-medium,
.a-small,
strong,
.a-sitename{
  font-family: $captionfont-1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  a,
  span,
  strong{
    font-weight: inherit;
  }
}

.a-xlarge,
.a-large{
  word-wrap: break-word;

  @media all and (min-width: $beta_query) {
    word-wrap: normal;
  }
}

.a-xlarge{
  @include type-to-em(42,48);
}

.a-large{
  @include type-to-em(33,39);
}

.a-medium{
  @include type-to-em(24,30);
}

.a-small{
  @include type-to-em(16,$body_leading);
  font-weight: bold;
}

.m-preamble{
  @include type-to-em(27,33);
  font-style: italic;
  text-align: center;

  h2{
    font-style: inherit;
  }
}

.a-fineprint{
  @include type-to-em(14,21);
  color: $subtle-text;
}

a[href^="http://"],
a[href^="https://"]{
  word-wrap: break-word;
}

a[href^="http://www.mis.1979design.se"],
a[href^="http://mis.1979design.se"],
a[href^="http://www.samuelbrynolf.se"],
a[href^="http://samuelbrynolf.se"]{
  word-wrap: normal;
}


// LISTS =============================================================================================================


.a-ol,
.a-ul{
  margin-top: $leading;
  margin-bottom: $leading;

  li + li{
    margin-top: rem($body_leading/2);
  }
}

.a-ol{
  margin-left: rem($alpha_gutter*1.8);
  list-style: decimal;
}

.a-ul{
  margin-left: rem($alpha_gutter*1.5);
  list-style: disc;
}


// IMAGES + VIDEO/MEDIA =============================================================================================================

.a-sitename{
  @include swap_text_for_img(60,60);
  background-image: url(img/component_demo_imgs/logo.jpg);

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url(img/component_demo_imgs/logo_hires.jpg);
  }
}

img.forcewidth{
  width: 100%;
}

@media all and (min-width: $beta_query) {
  .js .js-medialoadEffect img{
    opacity: 0;
  }
}

// FORMS ==============================================================================================================

.a-inputText{
  @include formText();
  border: 1px solid $action;
  background: $inputbg;
}

.a-textarea{
  @include formText();
  line-height: 1.5;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  background: $inputbg;
}


// BUTTONS + EVENT-ELEMENTS ==============================================================================================================

.a-btn{
  @include formBtn();
}