// PRF ------------------------------------------------------------------

.m-prf {
  position: relative;
  height: 0;
  overflow: hidden;
  background-color: transparent;

  &.ratio-1-1{
    padding-bottom: 100%;
  }

  &.ratio-4-3{
    padding-bottom: 74%; // about ratio-4-3
  }

  &.ratio-16-9{
    padding-bottom: 56%; // about ratio-16-9
  }

  &.ratio-by-ori{
    padding-bottom: 74%; // about ratio-4-3

    @media all and (orientation: landscape) {
      padding-bottom: 56%; // about ratio-16-9
    }
  }

  .mis_img,
  .a-prf__img{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 50;
    transform: translateY(-50%);
    width:100%;
  }
}

.m-prf.avatar{
  border-radius: 50%;
  width: $avatar-size;
  padding-bottom: $avatar-size;

  .mis_img{
    top: 0;
    transform: none;
  }
}

// TEXTBOX ---------------------------------------------------------------------

.m-textbox{
  position: relative;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  background-color: rgba($action, 0.75);
}

.a-textbox__p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
  width: 90%;
  margin: 0;
  text-align: center;
  color: rgba($body, 0.9);
  @include type-to-vmin(16, 7, 1.5);

  @media all and (min-width: $beta_query) {
    @include type-to-vmin(18, 4.5, 1.5);
  }

  a{
    color: $bodycolor;
  }
}

.a-textbox__a{
  display: block;
  margin-top: rem($body_leading/2);
  font-size: rem(12);
  line-height: 1.2;

  @media all and (min-width: $beta_query) {
    font-size: rem(14);
    margin-top: rem($body_leading);
  }
}


// ENTRY FOOTER ---------------------------------------------------------------------

.m-entry__footer{
  margin-top: rem($body_leading*3);
}

// LIST ITEM ---------------------------------------------------------------------

.a-listitem__a{
  display: block;

  & + .a-listitem__a{
    margin-top: rem($body_leading*3);
  }
}

.m-listitem{
  text-align: center;

  .a-entry-title{
    margin-top: rem($body_leading);
  }

  .a-listitem-meta-date{
    margin-top: rem($body_leading/2);
  }
}

a .m-listitem{

  .a-listitem-content{
    color: $bodycolor;
  }
}

// DUALNAV ---------------------------------------------------------------------

.m-dual-nav{

  .a-medium{
    text-align: center;
    margin-bottom: rem($body_leading);
  }

  .a-postlink{
    width: 100%;
    padding-top: rem($body_leading/2);
    padding-bottom: rem($body_leading/2);

    & + .a-postlink{
      border-top: 1px solid;
    }

    &.previouspostlink{
      padding-left: 2em;
      text-align: left;
    }

    &.nextpostlink{
      padding-right: 2em;
      text-align: right;
    }
  }

  .a-medium + .a-postlink{
    padding-top: 0;
  }
}

// CCARD ---------------------------------------------------------------------

.m-ccard__list{

  .a-icon{
    padding-left: 2em;
    line-height: rem($body_leading*2);
    border-top: 1px solid $subtle-border;

    &:before{
      color: $bodycolor;
    }
  }
}

.a-ccard__p + .m-ccard__list{
  margin-top: rem($body_leading*2);
}


// GLOBAL FOOTER ---------------------------------------------------------------------

.m-global__footer{
  margin-top: rem($body_leading*3);
  margin-bottom: rem($body_leading*3);
  text-align: center;
}