

// Make It Srcset ------------------------------------------------------------------

.mis_figure{

  .mis_figcaption{
    @extend .a-fineprint;
    text-align: right;
  }

  .mis_img + .mis_figcaption{
    margin-top: rem($body_leading/3);
  }
}

.no-js .mis_img.mis_omitSrc{
  display: none; // Native srcset-support bugfix
}

// Popup ------------------

.mis_popup{
  cursor: pointer;
}

#mis_overlay,
.mis_popup.mis_is-cloned{
  visibility: hidden;
  z-index: -500;
  opacity: 0;
  pointer-events: none;
}

#mis_overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($body-textcolor, 0.75);
}

.mis_popup.mis_is-cloned{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  max-width: $containerwidth;
}



// PRF ------------------------------------------------------------------

.m-prf {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: $ratio-4-3;
  overflow: hidden;
  background-color: transparent;

  @media all and (orientation: landscape) {
    padding-bottom: $ratio-16-9;
  }

  &.ratio-1-1{
    padding-bottom: $ratio-1-1;
  }

  &.ratio-4-3{
    padding-bottom: $ratio-4-3;
  }

  &.ratio-16-9{
    padding-bottom: $ratio-16-9;
  }

  &.overlay {

    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 100;
      width: 100%;
      background-color: rgba($action-color, 0.5);
      pointer-events: none;
    }
  }

  .mis_img{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 50;
    transform: translateY(-50%);
    width:100%;
  }

  &.avatar{
    width: $avatar-size;
    padding-bottom: $avatar-size;

    .mis_img{
      top: 0;
      transform: none;
      padding: rem(3);
      border-radius: 50%;
    }
  }
}

.a-prf-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
  width: 92%;
  margin: 0;

  &.a-icon:before,
  &.a-icon:after{
    display: inline;
    position: static;
    font-size: 75%;
    margin-right: 0.5rem;
  }

  &.a-icon:after{
    margin-right: 0;
    margin-left: 0.5rem;
  }
}



// SEARCH FORM ---------------------------------------------------------------------



.m-searchform{
  width: 40%;
  margin-top: rem(3);

  &.a-icon:before{
    top: 50%;
    transform: translateY(-50%);
    font-size: rem(16);
    color: $action-color;
  }

  .a-searchform__input{
    width: 100%;
    height: rem(41);
    padding-top: rem(3);
    padding-left: 1.25rem;
    font-family: $bodyfont;
    font-size: rem(16);
    line-height: rem(41);
    color: $subtle-textcolor;
    border-bottom: 2px solid $action-color;
  }
}



// LIST ITEM ---------------------------------------------------------------------

.m-listitem {
  display: block;

  .js-tappy{

  }

  .a-listitem-meta-date{
    color: $body-textcolor;
  }

  .a-listitem-excerpt{
    margin-top: rem($body_leading/2);
    margin-bottom: 0;
  }

  .a-external__a {
    margin-top: rem($body_leading/2);
  }
}

.m-listitem + .m-listitem,
.m-listitem + .js-added-HTML,
.js-added-HTML + .js-added-HTML{
  margin-top: rem($body_leading);
}

.js-added-HTML .m-listitem {
  opacity: 0;
  transform: translate3d(0,rem($body_leading*3),0);
}

.bap_loadbutton{
  margin-top: rem($body_leading*3);
  margin-right: rem($alpha_gutter);
  margin-left: rem($alpha_gutter);
}


// ARCHIVE HEADER ---------------------------------------------------------------------

.m-archive__header{
  margin-bottom: rem($body_leading);

  p{
    margin-top: rem($body_leading/2);
    margin-bottom: 0;
  }
}



// PREVIOUS NEXT POSTS ---------------------------------------------------------------------

.m-prevnextposts {
  margin-top: rem($body_leading*2);
  padding-top: rem($body_leading*2);
  background-color: $subtle-bgcolor;

  @media all and (min-width: $beta_query) {
    //padding-bottom: $gutter_beta;
  }

  @media all and (min-width: $charlie_query) {
    //padding-bottom: $gutter_charlie;
  }

  @media all and (min-width: $delta_query) {
    //padding-bottom: $gutter_delta
  }

  @media all and (min-width: $echo_query) {
    //padding-bottom: $gutter_echo;
  }

  .a-medium{
    text-align: center;
    margin-bottom: rem($body_leading*2);
  }
}



// CCARD ---------------------------------------------------------------------



.m-ccard__list{

  .a-icon{
    padding-left: 2rem;
    line-height: rem($body_leading*2);
    border-top: 1px solid $subtle-bordercolor;

    &:before{
      color: $body-textcolor;
    }
  }
}

.a-ccard__p + .m-ccard__list{
  margin-top: rem($body_leading*2);
}

.m-ccard-avatar{
  margin: 0 auto;
}


// SHARE POST ---------------------------------------------------------------------

.m-sharepost{
  //text-align: center;
  margin-top: rem($body_leading*1.5);
}

.a-sharepost-title {
  margin-bottom: rem($body_leading/2);
  padding-bottom: rem($body_leading/2);
  border-bottom: 1px solid $subtle-bordercolor;
}

.m-sharepost__ul li{
  margin-bottom: rem($body_leading);
  color: $body-textcolor;
}



// RESOURCES ---------------------------------------------------------------------

.m-resources{

  h2:first-of-type,
  h3:first-of-type,
  h4:first-of-type,
  ul:first-of-type,
  ol:first-of-type{
    margin-top: 0 !important;

    @media all and (min-width: $delta_query) {
      margin-top: rem($body_leading);
    }
  }
}