

// Make It Srcset ------------------------------------------------------------------

.mis_figure{

  .mis_figcaption{
    @extend .a-fineprint;
    text-align: right;
  }

  .mis_img + .mis_figcaption{
    margin-top: rem($body_leading/3);
  }
}

.no-js .mis_img.mis_omitSrc{
  display: none; // Native srcset-support bugfix
}

// Popup ------------------

.mis_popup{
  cursor: pointer;
}

#mis_overlay,
.mis_popup.mis_is-cloned{
  visibility: hidden;
  z-index: -500;
  opacity: 0;
  pointer-events: none;
}

#mis_overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($bodycolor, 0.75);
}

.mis_popup.mis_is-cloned{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  max-width: $containerwidth;
}



// PRF ------------------------------------------------------------------

.m-prf {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: $ratio-4-3;
  overflow: hidden;
  background-color: transparent;

  @media all and (orientation: landscape) {
    padding-bottom: $ratio-16-9;
  }

  &.ratio-1-1{
    padding-bottom: $ratio-1-1;
  }

  &.ratio-4-3{
    padding-bottom: $ratio-4-3;
  }

  &.ratio-16-9{
    padding-bottom: $ratio-16-9;
  }

  &.overlay {

    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 100;
      width: 100%;
      background-color: rgba($action, 0.6);
      pointer-events: none;
    }
  }

  .mis_img{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 50;
    transform: translateY(-50%);
    width:100%;
  }

  &.avatar{
    width: $avatar-size;
    padding-bottom: $avatar-size;

    .mis_img{
      top: 0;
      transform: none;
      padding: 3px;
      border-radius: 50%;
    }
  }
}

.a-prf-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
  width: 92%;
  margin: 0;

  &.a-icon:before,
  &.a-icon:after{
    display: inline;
    position: static;
    font-size: 75%;
    margin-right: 0.5em;
  }

  &.a-icon:after{
    margin-right: 0;
    margin-left: 0.5em;
  }
}



// SEARCH FORM ---------------------------------------------------------------------



.m-searchform{
  width: 40%;
  margin-top: 3px;

  &.a-icon:before{
    top: 50%;
    transform: translateY(-50%);
    font-size: rem(16);
    color: $action;
  }

  .a-searchform__input{
    width: 100%;
    height: 41px;
    padding-top: 3px;
    padding-left: 1.25em;
    font-family: $bodyfont;
    font-size: rem(16);
    line-height: 41px;
    color: $subtle-text;
    border-bottom: 2px solid $action;
  }
}



// LIST ITEM ---------------------------------------------------------------------

.m-listitem__a{
  display: block;
  text-align: center;

  .a-listitem-title{
    margin: 0;

    &:before{
      display: none;
    }
  }
}

.a-listitem-meta-date{
  margin: rem($body_leading*0.75) 0 0 0;
}

.m-listitem__a + .m-listitem__a,
.js-addedPage{
  margin-top: rem($body_leading*3);
}

.m-listitem__a.has-no-thumbnail + .m-listitem__a{
  padding-top: rem($body_leading*3);
  border-top: 1px solid $subtle-border;
}

.m-listitem__a .mis_container{
  margin-top: $leading*1.25;
}

.bap_loadbutton{
  margin-top: $leading*3;
  margin-right: $gutter_alpha;
  margin-left: $gutter_alpha;
}

.js-addedPage .m-listitem__a{
  opacity: 0;
  transform: translate3d(0,rem($body_leading*3),0);
}


// ARCHIVE HEADER ---------------------------------------------------------------------

.m-archive__header{
  text-align: center;
  margin-bottom: rem($body_leading*3);

  p{
    margin-top: rem($body_leading/2);
  }
}



// DUALNAV ---------------------------------------------------------------------



.m-dual-nav{

  @media all and (max-width: $beta_query) {
    .l-span + .l-span{
      margin-top: $gutter_alpha;
    }
  }

  .a-medium{
    text-align: center;
    margin-bottom: rem($body_leading*2);
  }

  .a-prf-text{
    @extend .a-medium;
  }

  a{
    color: $body;
  }

  .arrowleft:before,
  .arrowright:after{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .arrowleft{
    text-align: left;
    padding-left: 1.25em;
  }

  .arrowright{
    text-align: right;
    padding-right: 1.25em;

    &:after{
      right: 0;
      left: auto;
    }
  }
}



// CCARD ---------------------------------------------------------------------



.m-ccard__list{

  .a-icon{
    padding-left: 2em;
    line-height: rem($body_leading*2);
    border-top: 1px solid $subtle-border;

    &:before{
      color: $bodycolor;
    }
  }
}

.a-ccard__p + .m-ccard__list{
  margin-top: rem($body_leading*2);
}

.m-ccard-avatar{
  margin: 0 auto;
}