

// ENTRY HEADER ---------------------------------------------------------------------

.m-entry-header{
  //margin-top: $leading;
  //margin-bottom: $leading;
}

.a-xlarge.entry-title{
  margin-top: rem($body_leading);
  margin-bottom: rem($body_leading);
}

.a-fineprint.a-entry-meta{
  margin-top: rem($body_leading);
  margin-bottom: rem($body_leading*1.5);
  padding-bottom: rem($body_leading)*1.5;
  text-align: center;
  border-bottom: 2px dashed $subtle-border;
}

.a-entry-meta__time{}

// ENTRY CONTENT ---------------------------------------------------------------------

.m-entry-content{
  margin-top: $leading;
  margin-bottom: $leading;

  h2{
    @extend .a-large;
    margin-top: 1.75em;
    margin-bottom: rem($body_leading);

//    &:before{
//      content: '';
//      display: block;
//      width: 1em;
//      height: 3px;
//      margin-right: auto;
//      margin-bottom: 1em;
//      margin-left: auto;
//      background-color: lighten($bodycolor, 72%);
//    }
  }

  h3{
    @extend .a-medium;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  h4{
    @extend .a-small;
    margin-top: rem($body_leading);

    & + p,
    & + ol,
    & + ul,
    & + blockquote{
      margin-top: rem($body_leading/6);
    }
  }
}

// ENTRY FOOTER ---------------------------------------------------------------------

.m-entry-footer{
  margin-top: $leading*2;
  margin-bottom: $leading*3;
}

.a-fineprint.entry-footer{
  text-align: center;
}