// IMAGES ------------------------------------------------------------------

.m-prf {
  position: relative;
  height: 0;
  overflow: hidden;
  background-color: transparent;

  .mis_img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width:100%;
  }

  &.ratio-4-3{
    padding-bottom: 74%; // about ratio-4-3
  }

  &.ratio-16-9{
    padding-bottom: 56%; // about ratio-16-9
  }

  &.ratio-by-ori{
    padding-bottom: 74%; // about ratio-4-3

    @media all and (orientation: landscape) {
      padding-bottom: 56%; // about ratio-16-9
    }
  }
}

.m-prf.avatar{
  border-radius: 50%;
  width: $avatar-size;
  padding-bottom: $avatar-size;

  .mis_img{
    top: 0;
    transform: none;
  }
}


// ENTRY FOOTER ---------------------------------------------------------------------

.m-entry-footer{

  .entry-footer {
    margin-top: rem($body_leading*3);
    text-align: center;
  }
}

// LIST ITEM ---------------------------------------------------------------------

.a-listitem__a{
  display: block;

  & + .a-listitem__a{
    margin-top: rem($body_leading*3);
  }
}

.m-listitem{
  text-align: center;

  .a-entry-title{
    margin-top: rem($body_leading);
  }

  .a-listitem-meta-date{
    margin-top: rem($body_leading/2);
  }
}

a .m-listitem{

  .a-listitem-content{
    color: $bodycolor;
  }
}