// GLOBAL HEADER ---------------------------------------------------------------------

#js-masthead {
  height: rem($header-slide_height);
  position: fixed;
  top: 0;
  padding-top: rem($body_leading);
  z-index: $header-slide_z;
  transform: translateY(0);
  width: 100%;
  background-color: rgba($body, 0.93);
}

.o-global__header{

  .m-global__nav{
    width: 60%;
    line-height: 42px;
    text-align: right;
    padding-bottom: 1px;
    border-bottom: 1px solid $subtle-border;

    li{
      display: inline-block;
    }

    li + li{
      padding-left: $leading/3;
    }

    a{
     font-size: rem(16);
    }
  }
}

// GLOBAL FOOTER ---------------------------------------------------------------------

.o-global__footer{
  transform: translateZ(0); // Hackster
  padding-top: rem($body_leading*2.75);
  margin-bottom: rem($body_leading*3);
}




// TAGLIST ---------------------------------------------------------------------


.o-taglist .a-ul-large{
  padding-top: rem($header-slide__offset);
  padding-bottom: rem($body_leading*2);
  background-color: $action;

  .a-xlarge{
    margin-bottom: rem($body_leading);
    //padding-top: rem($body_leading*2);
  }

  a{
    color: $body;
  }

  li + li{
    border-color: rgba($bodycolor, 0.4);
  }
}


// ENTRIES---------------------------------------------------------------------

.o-entry__header{
  text-align: center;

  .a-entry-meta{
    margin-bottom: rem($body_leading*1.25);
  }
}

.o-entry-content{

  h2{
    @extend .a-large;
  }

  h3{
    @extend .a-medium;
    margin-top: 2em;
    margin-bottom: rem($body_leading);
  }

  h4{
    @extend .a-small;
    margin-top: rem($body_leading);

    & + p,
    & + ol,
    & + ul,
    & + blockquote{
      margin-top: rem($body_leading/4);
    }
  }

  ol{
    @extend .a-ol;
  }

  ul{
    @extend .a-ul;
  }

  blockquote{
    padding-left: $gutter_alpha;
    border-left: $borderwidth solid;

    p{
      font-style: inherit;
    }

    p + p{
      @extend .a-fineprint;
    }
  }

  // All images margin ----------------------------------------------------------

  .mis_container{
    margin-top: rem($body_leading);
    margin-bottom: rem($body_leading);
  }

  // All floated Images ----------------------------------------------------------

  .mis_container.left,
  .mis_container.right{
    //margin-top: 0;
    //margin-bottom: 0;
    width: 46%;
  }

  .mis_container.left{
    float: left;
    margin-right: 4%;
  }

  .mis_container.right{
    float: right;
    margin-left: 4%;
  }

  // Floated Prf-images needs padding/2

  .m-prf.left,
  .m-prf.right{
    padding-bottom: $ratio-4-3/2;
  }

  .mis_container.none{
    clear: both;
  }

  // Adjust figcaption textalign

  .mis_figure.left .mis_figcaption {
    text-align: left;
  }




  // Tweet btn ----------------------------------------------------------

  .twitter-share-button{
    float: right;
    margin-bottom: $leading;
    margin-left: $gutter_alpha;
  }
}



// NO-CONTENT ---------------------------------------------------------------------

.o-no-content{

  .m-listhead{
    display: none;
  }

  .a-ul-large li:last-of-type{
    padding-bottom: 0;
  }

  .a-fineprint{
    margin-top: rem($body_leading/2);
    text-align: center;
  }
}




// STACK & SPLIT ---------------------------------------------------------------------

.o-stack_n_split {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
  }

  .a-prf-text {
    @include type-to-vmin(16, 6.5, 1.6);
    color: $body;
  }

  a{
    color: darken($bodycolor, 100%);
  }

  .a-prf__a {
    display: block;
    margin-top: rem($body_leading);
    font-size: rem(12);
    line-height: 1.2;

    @media all and (min-width: $beta_query) {
      font-size: rem(14);
      margin-top: rem($body_leading);
    }
  }

  @media all and (min-width: $beta_query) {

    .m-prf{
      position: relative;
      float: left;
      width: 50%;
      padding-bottom: 50%;
      background-color: $action;
    }

    .a-prf-text{
      @include type-to-vmin(18, 4, 1.6);
      text-align: center;
    }

    .a-icon:before{
      display: block;
      font-size: 100%;
      margin-right: 0;
    }
  }
}