// GLOBAL HEADER ---------------------------------------------------------------------

.o-global__header{
  margin-bottom: rem($body_leading*3);
  transform: translateZ(0); // Hackster
}

// ARCHIVE HEADER ---------------------------------------------------------------------



// ENTRY HEADER ---------------------------------------------------------------------

.o-entry__header{
  text-align: center;

  .a-entry-title{
    margin-bottom: rem($body_leading);
  }
}

// ENTRY CONTENT ---------------------------------------------------------------------

.o-entry-content{

  h2{
    @extend .a-large;
  }

  h3{
    @extend .a-medium;
    margin-top: 2em;
    margin-bottom: rem($body_leading);
  }

  h4{
    @extend .a-small;
    margin-top: rem($body_leading);

    & + p,
    & + ol,
    & + ul,
    & + blockquote{
      margin-top: rem($body_leading/4);
    }
  }

  ol{
    @extend .a-ol;
  }

  ul{
    @extend .a-ul;
  }

  blockquote{
    padding-left: $gutter_alpha;
    border-left: $borderwidth solid;

    p{
      font-style: inherit;
    }

    p + p{
      @extend .a-fineprint;
    }
  }
}

// COMMENTS---------------------------------------------------------------------

.o-comments{
  margin-top: rem($body_leading*3);
  margin-bottom: rem($body_leading);
}

// STACK & SPLIT ---------------------------------------------------------------------

.o-stack_n_split {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
  }

  .a-prf-text {
    @include type-to-vmin(16, 6.5, 1.6);
    color: $body;
  }

  a{
    color: darken($bodycolor, 100%);
  }

  .a-prf__a {
    display: block;
    margin-top: rem($body_leading);
    font-size: rem(12);
    line-height: 1.2;

    @media all and (min-width: $beta_query) {
      font-size: rem(14);
      margin-top: rem($body_leading);
    }
  }

  @media all and (min-width: $beta_query) {

    .m-prf{
      position: relative;
      float: left;
      width: 50%;
      padding-bottom: 50%;
      background-color: $action;
    }

    .a-prf-text{
      @include type-to-vmin(18, 4, 1.6);
      text-align: center;
    }

    .a-icon:before{
      display: block;
      font-size: 100%;
      margin-right: 0;
    }
  }
}