// STARTPAGE =============================================================================================================

.startpage .a-ccard__bio p{
  font-size: rem(21);
  margin-bottom: rem($body_leading*1.5);
}


// ARCHIVE =============================================================================================================


// SINGLE =============================================================================================================

.single.no-thumb .a-entry-meta,
.page.no-thumb .a-entry-meta{
  padding-bottom: rem($body_leading*1.25);
  border-bottom: 1px solid $subtle-border;
}

.single .o-comments{
  margin-top: rem($body_leading*3);
  margin-bottom: rem($body_leading);
}

.single .a-large,
.single .o-entry-content h2{
  text-align: center;
}


// SEARCH RESULTS =============================================================================================================




// LISTPAGE =============================================================================================================



// 404 =============================================================================================================


