// STARTPAGE =============================================================================================================

.page-template-page-frontpage .o-stack_n_split{
  margin-top: rem($body_leading*2);
  margin-bottom: rem($body_leading);

  @media all and (min-width: $beta_query) {
    margin-bottom: rem($body_leading*2);
  }
}


// ARCHIVE =============================================================================================================

.archive,
.home{

  main .mis_container:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 75;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: rem(9) rem(9) 0 rem(9);
    border-color: $body transparent transparent transparent;
  }
}

// SINGLE =============================================================================================================

.single.no-thumb .a-entry-meta{
  padding-bottom: rem($body_leading*1.25);
  border-bottom: 1px solid $subtle-border;
}

.single .m-dual-nav{
  margin-top: $leading*2;
  padding-top: $leading*2;
  padding-bottom: $leading*3;
  background-color: $subtle-bg;

  @media all and (min-width: $beta_query) {
    //padding-bottom: $gutter_beta;
  }

  @media all and (min-width: $charlie_query) {
    //padding-bottom: $gutter_charlie;
  }

  @media all and (min-width: $delta_query) {
    //padding-bottom: $gutter_delta
  }

  @media all and (min-width: $echo_query) {
    //padding-bottom: $gutter_echo;
  }
}

.single .o-comments{
  margin-top: rem($body_leading*3);
  margin-bottom: rem($body_leading);
}

.single .m-tweetthis{
  padding-left: $gutter_alpha;
  margin-bottom: $leading;
}


// SEARCH RESULTS =============================================================================================================

.search-no-results .m-archive__header,
.error404 .m-archive__header{
  margin-bottom: 0;
}




// LISTPAGE =============================================================================================================



// 404 =============================================================================================================


