// STARTPAGE =============================================================================================================

.page-template-page-frontpage .o-stack_n_split{
  margin-top: rem($body_leading*2);
  margin-bottom: rem($body_leading);

  @media all and (min-width: $beta_query) {
    margin-bottom: rem($body_leading*2);
  }
}


// ARCHIVE =============================================================================================================


// SINGLE =============================================================================================================

.single.no-thumb .a-entry-meta{
  padding-bottom: rem($body_leading*1.25);
  border-bottom: 1px solid $subtle-border;
}

.single .m-dual-nav{
  margin-top: $leading*2;
  padding-top: $leading*2;
  padding-bottom: $leading*3;
  background-color: $subtle-bg;

  @media all and (min-width: $beta_query) {
    //padding-bottom: $gutter_beta;
  }

  @media all and (min-width: $charlie_query) {
    //padding-bottom: $gutter_charlie;
  }

  @media all and (min-width: $delta_query) {
    //padding-bottom: $gutter_delta
  }

  @media all and (min-width: $echo_query) {
    //padding-bottom: $gutter_echo;
  }
}

.single .o-comments{
  margin-top: rem($body_leading*3);
  margin-bottom: rem($body_leading);
}


// SEARCH RESULTS =============================================================================================================

.search-no-results .m-archive__header,
.error404 .m-archive__header{
  margin-bottom: 0;
}




// LISTPAGE =============================================================================================================



// 404 =============================================================================================================


