// ACTIVE MQs
//==============================================================================================================

#mq-watcher {
  font-family: "aq";

  @media all and (min-width: $beta_query) {
    font-family: "bq";
  }

  @media all and (min-width: $charlie_query) {
    font-family: "cq";
  }

  @media all and (min-width: $delta_query) {
    font-family: "dq";
  }

  @media all and (min-width: $echo_query) {
    font-family: "eq";
  }
}



// HOVER
//==============================================================================================================

.a-btn:hover{
	cursor: pointer;
}



// FOCUS
//==============================================================================================================

.a-inputText:focus{}

// Button focus 

.a-btn:focus {}


// IS-ACTIVE
//==============================================================================================================

main.tags-is-active{
  padding-top: rem($body_leading*3);

  @media all and (min-width: $beta_query) {
    padding-top: rem($body_leading_beta*3);
  }

  @media all and (min-width: $charlie_query) {
    padding-top: rem($body_leading_charlie*3);
  }
}

// IS-PASSIVE
//==============================================================================================================

.a-btn.s-is-passive{
  color: $subtle-textcolor;
  border-color: $subtle-bordercolor;
  opacity: 0.5;
}

// Lazyloading images
//==============================================================================================================


// IS-COLLAPSED
//==============================================================================================================


// IS-EXPANDED
//==============================================================================================================


// IS-CURRENT
//==============================================================================================================

.current-menu-item a,
a.current-menu-item{
  color: $subtle-textcolor;
}

// IS-MOVED
//==============================================================================================================



// IS-HIDDEN
//==============================================================================================================


.o-taglist.s-is-hidden{
  position: relative;
  transform: translate3d(0,rem(-$body_leading*2),0);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;

  @media all and (min-width: $beta_query) {
    transform: translate3d(0,rem(-$body_leading_beta*2),0);
  }

  @media all and (min-width: $charlie_query) {
    transform: translate3d(0,rem(-$body_leading_charlie*2),0);
  }

  a{
    pointer-events: none;
  }
}

#js-instagram.s-is-hidden{
  opacity: 0;
}

// IS-VISIBLE + NO-JS
//==============================================================================================================

#mis_overlay.s-is-visible,
.mis_popup.mis_is-cloned.s-is-visible{
  visibility: visible;
  z-index: 500;
  opacity: 1;
  pointer-events: auto;
}

.mis_popup.mis_is-cloned.s-is-visible{
  z-index: 550;
}


// IS-HIGHLIGHTED
//==============================================================================================================

#js-colophon.s-is-highlighted{
  background-color: $highlight-bgcolor;
}

// NO-JS
//==============================================================================================================


// S-IS-LOADING
//==============================================================================================================

.bap_loadbutton.s-is-loading{
  color: $body-textcolor;
  border-color: $subtle-bordercolor;
}

// S-IS-UP
//==============================================================================================================

#js-masthead {

  &.s-is-up {
    transform: translateY(rem(-$header-slide_height*1.2));
  }
}


// S-IS-DOWN
//==============================================================================================================

#js-masthead {

  &.s-is-down {

    .m-global__nav{
      // border-bottom-color: transparent;
    }
  }
}

// BROWSERVERSION AS STATE
//==============================================================================================================