// ACTIVE MQs
//==============================================================================================================

#mq-watcher {
  font-family: "aq";

  //@media all and (min-width: $beta_query) {
  @media all and (min-width: 768px) {
    font-family: "bq";
  }

  //@media all and (min-width: $charlie_query) {
  @media all and (min-width: 1140px) {
    font-family: "cq";
  }

  //@media all and (min-width: $delta_query) {
  @media all and (min-width: 1440px) {
    font-family: "dq";
  }

  //@media all and (min-width: $echo_query) {
  @media all and (min-width: 1680px) {
    font-family: "eq";
  }
}



// HOVER
//==============================================================================================================

.a-btn:hover{
	cursor: pointer;
}



// FOCUS
//==============================================================================================================

.a-inputText:focus{
	border-color: $border-1;
}

// Button focus 

.a-btn:focus {
	color: $body;
	background-color: darken($action, 6%);
}


// IS-ACTIVE
//==============================================================================================================

main.tags-is-active{
  padding-top: $leading*3;
}

// IS-PASSIVE
//==============================================================================================================

.a-btn.s-is-passive{
  color: $subtle-text;
  border-color: $subtle-text;
  opacity: 0.5;
}

// Lazyloading images
//==============================================================================================================


// IS-COLLAPSED
//==============================================================================================================


// IS-EXPANDED
//==============================================================================================================


// IS-CURRENT
//==============================================================================================================

.current-menu-item a,
a.current-menu-item{
  color: $subtle-text;
}

// IS-MOVED
//==============================================================================================================



// IS-HIDDEN
//==============================================================================================================

#js-socialfeedBox.s-is-hidden{
  opacity: 0;
}

.o-taglist.s-is-hidden{
  position: relative;
  transform: translate3d(0,rem(-$body_leading*2),0);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;

  a{
    pointer-events: none;
  }
}

// IS-VISIBLE + NO-JS
//==============================================================================================================

#mis_overlay.s-is-visible,
.mis_popup.mis_is-cloned.s-is-visible{
  visibility: visible;
  z-index: 500;
  opacity: 1;
  pointer-events: auto;
}

.mis_popup.mis_is-cloned.s-is-visible{
  z-index: 550;
}


// IS-HIGHLIGHTED
//==============================================================================================================

#js-colophon.s-is-highlighted{
  background-color: $highlight;
}

// NO-JS
//==============================================================================================================


// S-IS-LOADING
//==============================================================================================================

.bap_loadbutton.s-is-loading{
  color: $bodycolor;
  border-color: $subtle-border;
}

// S-IS-UP
//==============================================================================================================

#js-masthead {

  &.s-is-up {
    transform: translateY(rem(-$header-slide_height));
  }
}


// S-IS-DOWN
//==============================================================================================================

#js-masthead {

  &.s-is-down {

    .m-global__nav{
      // border-bottom-color: transparent;
    }
  }
}

// BROWSERVERSION AS STATE
//==============================================================================================================