// ACTIVE MQs
//==============================================================================================================

#getActiveMQ-watcher {
  font-family: "aq";
  
  @media all and (min-width: $beta_query) {
  	font-family: "bq";
  }
  
  @media all and (min-width: $charlie_query) {
  	font-family: "cq";
  }
  
  @media all and (min-width: $delta_query) {
  	font-family: "dq";
  }
  
  @media all and (min-width: $echo_query) {
  	font-family: "eq";
  }
}



// HOVER
//==============================================================================================================

.a-btn:hover{
	cursor: pointer;
}



// FOCUS
//==============================================================================================================

.a-inputText:focus{
	border-color: $border-1;
}

// Button focus 

.a-btn:focus {
	color: $body;
	background-color: darken($action, 6%);
}



// IS-ACTIVE
//==============================================================================================================



// IS-PASSIVE
//==============================================================================================================

.a-btn.s-is-passive{
  color: $subtle-text;
  border-color: $subtle-text;
  opacity: 0.5;
}



// IS-COLLAPSED
//==============================================================================================================


// IS-EXPANDED
//==============================================================================================================


// IS-CURRENT
//==============================================================================================================



// IS-MOVED
//==============================================================================================================



// IS-HIDDEN
//==============================================================================================================



// IS-VISIBLE + NO-JS
//==============================================================================================================



// NO-JS
//==============================================================================================================



// STATES THROWN BY PARSLEY JQUERY PLUGIN: FORM VALIDATION
//==============================================================================================================

.parsley-errors-list{
  color: $msg-warning;
}

input.a-inputText.parsley-success{
  color: $msg-ok-bg;
  border-color: transparent;
  background-color: $msg-ok;
}

// BROWSERVERSION AS STATE
//==============================================================================================================

