// ATOMS ---------------------------------------------------------------------

.a-archive__divider{
  position: relative;
  height: 1px;
  margin-top: rem($body_leading*1.5);
  background-color: $subtle-bordercolor;

  &:before{
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    z-index: 50;
    content: '';
    width: 40%;
    height: $borderwidth;
    background-color: $body-textcolor;
  }

  @media all and (min-width: $beta_query) {
    margin-top: rem($body_leading_beta*1.5);
  }

  @media all and (min-width: $charlie_query) {
    margin-top: rem($body_leading_charlie*1.5);
  }

  @media all and (min-width: $delta_query) {
    margin-top: rem($body_leading_delta);
  }

  @media all and (min-width: $echo_query) {
    margin-top: rem($body_leading_echo);
  }
}



// MOLECULES ---------------------------------------------------------------------

.m-archive__header{
  margin-bottom: rem($body_leading*1.5);

  @media all and (min-width: $beta_query) {
    margin-bottom: rem($body_leading_beta*1.5);
  }

  @media all and (min-width: $charlie_query) {
    margin-bottom: rem($body_leading_charlie*2.5);
  }

  @media all and (min-width: $delta_query) {
    margin-bottom: rem($body_leading_delta*2);
  }

  @media all and (min-width: $echo_query) {
    margin-bottom: rem($body_leading_echo*2);
  }

  p{
    margin-top: rem($body_leading/2);
    margin-bottom: 0;

    @media all and (min-width: $beta_query) {
      margin-top: rem($body_leading_beta/2);
    }

    @media all and (min-width: $charlie_query) {
      margin-top: rem($body_leading_charlie/2);
    }

    @media all and (min-width: $delta_query) {
      margin-top: rem($body_leading_delta/4);
    }

    @media all and (min-width: $echo_query) {
      margin-top: rem($body_leading_echo/4);
    }
  }
}



// TEMPLATES ---------------------------------------------------------------------

.search-no-results .a-archive__divider,
.error404 .a-archive__divider{
  background-color: transparent;
}