
// BY ID ---------------------------------------------------------------------

#js-masthead {
  height: rem($header-slide_height);
  position: fixed;
  top: 0;
  padding-top: rem($body_leading);
  z-index: $header-slide_z;
  transform: translateY(0);
  width: 100%;
  background-color: rgba($body-bgcolor, 0.87);

  @media all and (min-width: $beta_query) {
    height: rem($header-slide_height*1.05);
    padding-top: rem($body_leading_beta);
  }

  @media all and (min-width: $charlie_query) {
    height: rem($header-slide_height);
    padding-top: rem($body_leading_charlie);
  }

  @media all and (min-width: $delta_query) {
    height: rem($header-slide_height*1.09);
    padding-top: rem($body_leading_delta);
  }

  @media all and (min-width: $echo_query) {
    height: rem($header-slide_height*1.12);
    padding-top: rem($body_leading_echo);
  }
}



// ATOMS ---------------------------------------------------------------------

.a-sitename{
  text-indent: -9999px;
  height: 1px;
  overflow: hidden;
}



// MOLECULES ---------------------------------------------------------------------

.m-searchform{
  width: 40%;
  margin-top: rem(3);

  &.a-icon:before{
    top: 50%;
    transform: translateY(-50%);
    font-size: rem(16);
    color: $action-color;

    @media all and (min-width: $beta_query) {
      font-size: rem(12);
    }

    @media all and (min-width: $charlie_query) {
      font-size: rem(16);
    }

    @media all and (min-width: $charlie_query) {
      font-size: rem(14);
    }
  }

  .a-searchform__input{
    width: 100%;
    height: rem(41);
    padding-top: rem(3);
    padding-left: 1.25rem;
    font-family: $bodyfont;
    font-size: rem(16);
    line-height: rem(41);
    border-bottom: $borderwidth solid $action-color;
  }
}

.m-global__nav{
  width: 60%;
  line-height: rem(42);
  text-align: right;
  padding-bottom: 1px;
  border-bottom: 1px solid $subtle-bordercolor;

  li{
    display: inline-block;
  }

  li + li{
    padding-left: rem($body_leading/3);

    @media all and (min-width: $beta_query) {
      padding-left: rem($body_leading_beta/2);
    }

    @media all and (min-width: $charlie_query) {
      padding-left: rem($body_leading_charlie/2);
    }

    @media all and (min-width: $delta_query) {
      padding-left: rem($delta_gutter/2);
    }

    @media all and (min-width: $echo_query) {
      padding-left: rem($echo_gutter/2);
    }
  }

  a{
    font-size: rem(16);

    @media all and (min-width: $beta_query) {
      font-size: rem(14);
    }

    @media all and (min-width: $charlie_query) {
      font-size: rem(16);
    }

    @media all and (min-width: $delta_query) {
      font-size: rem(14);
    }
  }
}



// STATES ---------------------------------------------------------------------

@media all and (min-width: $charlie_query) {

  .m-global__nav .menu-item a:hover {
    color: $body-textcolor;
  }
}

.current-menu-item a,
a.current-menu-item{
  color: $subtle-textcolor;
}

#js-masthead {

  &.s-is-up {
    transform: translateY(rem(-$header-slide_height*1.2));
  }
}

.a-searchform__input:focus{
  border-color: $body-textcolor;
  background-color: rgba($highlight-bgcolor, 0.5);
}



// ANIMATIONS ---------------------------------------------------------------------

#js-masthead{
  transition: transform $transition-time ease-in-out;
}