
// ATOMS ---------------------------------------------------------------------

.a-listitem-title{

  @media all and (min-width: $charlie_query) {
    max-width: 39rem;
  }
}

.a-listitem-meta-date{
  color: $body-textcolor;
  background-color: rgba($highlight-bgcolor, 0.5);
}

.a-listitem-excerpt {
  margin-top: rem($body_leading/2);
  margin-bottom: 0;

  @media all and (min-width: $beta_query) {
    width: 95%;
    margin-top: rem($body_leading_beta/2);
  }

  @media all and (min-width: $charlie_query) {
    margin-top: rem($body_leading_charlie/2);
    max-width: 33rem;
  }

  &.has-thumb{
    max-width: 45rem;
  }
}



// MOLECULES ---------------------------------------------------------------------

.m-listitem__a{
  display: block;
  color: $body-textcolor;
}

.m-listitem {
  display: block;

  .m-prf.listitem__img{
    margin-top: $leading*0.75;
    margin-bottom: $leading*0.75;

    @media all and (min-width: $beta_query) {
      margin-top: $leading_beta;
      margin-bottom: $leading_beta*0.5;
    }

    @media all and (min-width: $charlie_query) {
      float: left;
      width: 25%;
      margin: 0.4rem $leading_charlie $leading_charlie/2 0;
      padding-bottom: $ratio-16-9 * (25/100);
    }

    @media all and (min-width: $delta_query) {
      margin-right: $leading_delta*0.75;
      margin-bottom: $leading_delta/2;
    }

    @media all and (min-width: $echo_query) {
      margin-right: $leading_echo*0.75;
      margin-bottom: $leading_echo/2;
    }
  }
}

.m-listitem + .m-listitem,
.m-listitem + .js-added-HTML,
.js-added-HTML + .js-added-HTML{
  margin-top: rem($body_leading*1.5);

  @media all and (min-width: $beta_query) {
    margin-top: rem($body_leading_beta*1.5);
  }

  @media all and (min-width: $charlie_query) {
    margin-top: rem($body_leading_charlie*2);
  }

  @media all and (min-width: $delta_query) {
    margin-top: rem($body_leading_delta*2);
  }

  @media all and (min-width: $echo_query) {
    margin-top: rem($body_leading_echo*2);
  }
}

.js-added-HTML .m-listitem {
  opacity: 0;
  transform: translate3d(0,rem($body_leading*3),0);
}

.m-listitems-pagin .bap_loadbutton{
  margin-top: rem($body_leading*3);

  @media all and (min-width: $beta_query) {
    margin-top: rem($body_leading_beta*3);
  }

  @media all and (min-width: $charlie_query) {
    margin-top: rem($body_leading_charlie*3);
  }

  @media all and (min-width: $delta_query) {
    margin-top: rem($body_leading_delta*3);
  }

  @media all and (min-width: $echo_query) {
    margin-top: rem($body_leading_echo*3);
  }
}



// TEMPLATES ---------------------------------------------------------------------

// If highlight keyword match, use highlight color for those words instead of post meta

//.search-results .a-listitem-meta-date{
//  background-color: transparent;
//}



// STATES ---------------------------------------------------------------------

@media all and (min-width: $charlie_query) {
  .m-listitem:hover .a-listitem-excerpt{
    color: $body-textcolor;
  }

  .m-listitem:hover .a-medium{
    color: $action-color;
  }
}

.js .js-added-HTML .mis_img{
  opacity: 1;
}



// ANIMATIONS ---------------------------------------------------------------------

.m-listitem {
  transition: opacity $transition-time ease-out, transform $transition-time ease-out;
}