
// TEMPLATES --------------------------------------------------------------------------

.startpage .m-blogtag { // Startpage
  position: relative;

  .m-ccard-avatar {

    @media all and (min-width: $beta_query) {
      margin: 0 0 4% 0;
    }

    @media all and (min-width: $charlie_query) {
      margin-bottom: 3%;
    }

    @media all and (min-width: $delta_query) {
      margin-bottom: 8.1%; // 3 times flickety padding
    }
  }

  .a-ccard__bio {
    text-align: center;

    @media all and (min-width: $beta_query) {
      position: absolute;
      top: 50%;
      right: rem($beta-gutter);
      left: $avatar-size + rem($beta-gutter*1.5);
      transform: translateY(-50%);
      text-align: left;
    }

    @media all and (min-width: $charlie_query) {
      right: rem($charlie-gutter);
      left: $avatar-size + rem($charlie-gutter*3);
    }

    @media all and (min-width: $delta_query) {
      right: rem($delta-gutter);
      left: $avatar-size + rem($delta-gutter*2);
    }

    @media all and (min-width: $echo_query) {
      right: rem($echo-gutter);
      left: $avatar-size + rem($echo-gutter*2.5);
    }

    p {
      font-size: rem(21);
      margin-bottom: rem($body_leading*1.5);

      @media all and (min-width: $beta_query) {
        margin: 0;
      }

      @media all and (min-width: $charlie_query) {
        font-size: rem(24);
      }

      @media all and (min-width: $delta_query) {
        font-size: rem(27);
      }
    }
  }
}