

// ATOMS ---------------------------------------------------------------------

.a-prf-text{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  a,
  span,
  strong{
    font-weight: inherit;
  }
}



// MOLECULES ---------------------------------------------------------------------

.m-prf {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: $ratio-4-3;
  overflow: hidden;
  background-color: $subtle-bgcolor;

  @media all and (orientation: landscape)  {
    padding-bottom: $ratio-16-9;
  }

  @media all and (min-width: $beta_query) {
    padding-bottom: $ratio-16-9;
  }

  &.ratio-1-1{
    padding-bottom: $ratio-1-1;
  }

  &.ratio-4-3{
    padding-bottom: $ratio-4-3;
  }

  &.ratio-16-9{
    padding-bottom: $ratio-16-9;
  }

  &.overlay {

    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 100;
      width: 100%;
      background-color: rgba($action-color, 0.7);
      pointer-events: none;
    }
  }

  .mis_img{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 50;
    transform: translateY(-50%);
    width:100%;
  }

  &.avatar{
    width: $avatar-size;
    padding-bottom: $avatar-size;
    background-color: transparent;

    .mis_img{
      top: 0;
      transform: none;
      padding: rem(3);
      border-radius: 50%;
      opacity: 1 !important;
    }
  }
}

.a-prf-text {
  display: block;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
  width: 90%;
  margin: 0;

  @media all and (min-width: $beta_query) {
    width: 88%;
  }

  .a-prf-text__span{
    @extend .a-fineprint; // 14/21
    display: block;
    margin-top: 0.3rem;
    color: rgba($body-bgcolor, 0.87);
  }

}



// STATES ---------------------------------------------------------------------

.js .mis_img{
  opacity: 0;
}

.js .mis_img.s-is-visible{
  opacity: 1;
}

@media all and (min-width: $charlie_query) {

  .m-prf.overlay:hover:after{
    background-color: rgba($action-color, 0.87);
  }
}



// ANIMATIONS ------------------------------------------------------------------

.m-prf.overlay:after{
  transition: background-color $transition-time/2 ease-out;
}

.mis_img{
  transition: opacity $transition-time ease-out;
}