
// ORGANISMS ------------------------------------------------------------------

.o-entry-content{
  position: relative;

  @media all and (min-width: $beta_query) {
    max-width: calc(100% - 3rem);
  }

  @media all and (min-width: $charlie_query) {
    max-width: rem($containerwidth - ($body_leading_charlie*12));
  }

  @media all and (min-width: $delta_query) {
    max-width: rem($containerwidth - ($body_leading_delta*9));
  }

  blockquote{
    padding-left: rem($alpha_gutter);
    border-left: $borderwidth solid;

    @media all and (min-width: $beta_query) {
      padding-left: rem($beta_gutter/2);
    }

    @media all and (min-width: $charlie_query) {
      font-size: rem(27);
      line-height: (30/21);
      margin-right: rem(-$body_leading_charlie*1.5); // Full bredd - 12 charlies är nya bredden för hela content. Om preamblen är full bredd minus nio charlies är mellanskillnaden 3. Hälften på varje sida blir 1.5
      margin-left: rem(-$body_leading_charlie*1.5);
      padding-left: rem($charlie_gutter*2);
    }

    @media all and (min-width: $delta_query) {
      font-size: rem(24);
      margin-right: rem(-$body_leading_delta*2.5);
      margin-left: rem(-$body_leading_delta*2.5);
      padding-left: rem($delta_gutter*2);
    }

    p{
      font-style: inherit;
    }

    p + p{
      @extend .a-fineprint;
    }
  }

  .a-external__a a:after {
    font-size: rem(14);
  }

  h2{
    @extend .a-large;
  }

  h3{
    @extend .a-medium;
    margin-top: 2rem;
    margin-bottom: rem($body_leading);

    @media all and (min-width: $beta_query) {
      margin-bottom: rem($body_leading_beta);
    }

    @media all and (min-width: $charlie_query) {
      margin-top: 3rem;
      margin-bottom: rem($body_leading_charlie);
    }

    @media all and (min-width: $delta_query) {
      margin-top: 3.42rem;
      margin-bottom: rem($body_leading_delta);
    }
  }

  h4{
    @extend .a-small;
    margin-top: rem($body_leading);

    @media all and (min-width: $beta_query) {
      margin-top: rem($body_leading_beta);
    }

    @media all and (min-width: $charlie_query) {
      margin-top: rem($body_leading_charlie);
    }

    @media all and (min-width: $delta_query) {
      margin-top: rem($body_leading_delta);
    }

    & + p,
    & + ol,
    & + ul,
    & + blockquote{
      margin-top: rem($body_leading/4);

      @media all and (min-width: $beta_query) {
        margin-top: rem($body_leading_beta/4);
      }

      @media all and (min-width: $charlie_query) {
        margin-top: rem($body_leading_charlie/4);
      }

      @media all and (min-width: $delta_query) {
        margin-top: rem($body_leading_delta/4);
      }
    }
  }

  ol{
    @extend .a-ol;
  }

  ul{
    @extend .a-ul;
  }

  del{
    color: $error-text;
    background-color: $highlight-bgcolor;
  }

  span{
    background-color: $highlight-bgcolor;
    text-decoration: none !important;
  }

  // All images margin ----------------------------------------------------------

  .mis_container{
    margin-top: rem($body_leading*2);
    margin-bottom: rem($body_leading*2.5);

    @media all and (min-width: $beta_query) {
      margin-top: rem($body_leading_beta*2.5);
      margin-bottom: rem($body_leading_beta*2.5);
    }

    @media all and (min-width: $charlie_query) {
      margin-top: rem($body_leading_charlie*2);
      margin-bottom: rem($body_leading_charlie*2.5);
    }

    @media all and (min-width: $delta_query) {
      margin-top: rem($body_leading_delta*2);
      margin-bottom: rem($body_leading_delta*2.5);
    }
  }

  // FIGURE ---------------------------------------------------------------------

  .mis_figure{

    .mis_figcaption{
      @extend .a-fineprint;
      text-align: right;
    }

    .mis_img + .mis_figcaption{
      margin-top: rem($body_leading/3);

      @media all and (min-width: $beta_query) {
        margin-top: rem($body_leading_beta/3);
      }

      @media all and (min-width: $charlie_query) {
        margin-top: rem($body_leading_charlie/3);
      }

      @media all and (min-width: $delta_query) {
        margin-top: rem($body_leading_delta/3);
      }
    }
  }

  // All floated Images ----------------------------------------------------------

  .mis_container.left,
  .mis_container.right,
  img.left,
  img.right{
    margin-top: 0;
    width: 46%;
  }

  .mis_container.left,
  img.left{
    float: left;
    margin-right: 4%;

    @media all and (min-width: $delta_query) {
      margin-left: rem(-$delta_gutter);
    }
  }

  .mis_container.right,
  img.right{
    float: right;
    margin-left: 4%;

    @media all and (min-width: $delta_query) {
      margin-right: rem(-$delta_gutter);
    }
  }

  // Floated Prf-images needs padding/2

  .m-prf.left,
  .m-prf.right{
    padding-bottom: $ratio-4-3 * (46/100);
  }

  .mis_container.none{
    clear: both;
  }

  // Adjust figcaption textalign

  .mis_figure.left .mis_figcaption {
    text-align: left;
  }

  // Instagram image ----------------------------------------------------------

  .js-instagram__img{
    display: none;

    @media all and (min-width: $charlie_query) {
      display: block;
      margin-top: $leading_charlie*3;
    }

    @media all and (min-width: $delta_query) {
      margin-top: $leading_delta*2;
    }
  }

  // Tweet btn ----------------------------------------------------------

  .twitter-share-button{
    float: right;
    margin: 0.45rem 0 rem($body_leading) rem($alpha_gutter);
    //padding: 1rem;
    //background-color: $highlight-bgcolor;

    @media all and (min-width: $beta_query) {
      margin: 0.35rem 0 rem($body_leading_beta) rem($beta_gutter);
    }

    @media all and (min-width: $charlie_query) {
      margin-top: 0.3rem 0 rem($body_leading_charlie) rem($charlie_gutter);
    }

    @media all and (min-width: $delta_query) {
      float: left;
      margin-top: $leading_delta*1.2;
      margin-left: -$spanwidth-3;
    }
  }
}



// TEMPLATES --------------------------------------------------------

.single .o-entry-content h2{
  text-align: center;
}



// STATES --------------------------------------------------------

@media all and (min-width: $charlie_query) {
  .o-entry-content a:hover{
    color: $body-textcolor;
  }
}