
// MOLECULES

.m-resources{

  &.is-sidebar{

    @media all and (min-width: $delta_query) {
      position: absolute;
      top: $leading_delta;
      right: -$spanwidth-2;
      width: $spanwidth-3;
      transform: translateX(rem($delta_gutter));
    }

    @media all and (min-width: $echo_query) {
      top: $leading_echo;
      right: -$spanwidth-4;
      width: $spanwidth-4;
      transform: translateX(rem($echo_gutter));
    }
  }

  h2,
  h3,
  h4,
  ul,
  ol{
    @extend .a-small;
    margin-bottom: $leading;
    margin-top: 0 !important;
    text-align: left !important;

    @media all and (min-width: $beta_query) {
      margin-bottom: $leading_beta;
    }

    @media all and (min-width: $charlie_query) {
      margin-bottom: $leading_charlie;
    }

    @media all and (min-width: $delta_query) {
      margin-bottom: $leading_delta;
    }

    @media all and (min-width: $echo_query) {
      margin-bottom: $leading_echo;
    }

    &:before{
      display: none;
    }
  }

  p,
  ul,
  ol{
    @extend .a-fineprint;
  }
}