
// ATOMS ----------------------------------------------------------

.a-instagram__medialink{
  margin-top: $leading/2;

  @media all and (min-width: $beta_query) {
    margin-top: $leading_beta/2;
  }

  @media all and (min-width: $charlie_query) {
    margin-top: $leading_charlie/2;
  }
}

// MOLECULES ----------------------------------------------------------

.m-entry-preamble{
  margin-top: $leading*1.5;
  margin-bottom: $leading*0.5;

  @media all and (min-width: $beta_query) {
    margin-top: $leading_beta*1.5;
    margin-bottom: $leading_beta*0.5;
  }

  @media all and (min-width: $charlie_query) {
    max-width: rem($containerwidth - ($body_leading_charlie*9));
    margin-top: $leading_charlie*1.5;
    margin-bottom: $leading_charlie*0.5;
  }

  @media all and (min-width: $delta_query) {
    max-width: rem($delta_cont_width - ($body_leading_delta*9));
    margin-top: $leading_delta*1.5;
    margin-bottom: $leading_delta;
  }

  @media all and (min-width: $echo_query) {
    max-width: rem($echo_cont_width - ($body_leading_echo*18));
    margin-top: $leading_echo*1.5;
    margin-bottom: $leading_echo;
  }
}

.m-instagram{

  @media all and (min-width: $charlie_query) {
    display: none;
  }

  .a-instagram__medialink{
    margin-left: rem($alpha_gutter);

    @media all and (min-width: $beta_query) {
      margin-left: rem($beta_gutter);
    }
  }
}

// ORGANISMS ----------------------------------------------------------

.o-entry__header{
  text-align: center;

  @media all and (min-width: $beta_query) {
    margin-top: $leading_beta;
  }

  @media all and (min-width: $charlie_query) {
    margin-top: $leading_charlie;
  }

  @media all and (min-width: $delta_query) {
    margin-top: $leading_delta;
  }

  @media all and (min-width: $echo_query) {
    margin-top: $leading_echo;
  }

  .a-entry-meta{
    margin-bottom: rem($body_leading*1.25);
    color: $body-textcolor;

    @media all and (min-width: $beta_query) {
      margin-bottom: rem($body_leading_beta*1.25);
    }

    @media all and (min-width: $charlie_query) {
      margin-bottom: rem($body_leading_charlie*1.25);
    }

    @media all and (min-width: $delta_query) {
      margin-bottom: rem($body_leading_delta*1.25);
    }

    @media all and (min-width: $echo_query) {
      margin-bottom: rem($body_leading_echo*1.25);
    }
  }
}

// TEMPLATES ----------------------------------------------------------

.single.no-thumb .a-entry-meta,
.page.no-thumb .a-entry-meta{
  margin-bottom: 0;
  padding-bottom: rem($body_leading*1.25);
  border-bottom: 1px solid $subtle-bordercolor;

  @media all and (min-width: $beta_query) {
    padding-bottom: rem($body_leading_beta*1.25);
  }

  @media all and (min-width: $charlie_query) {
    padding-bottom: rem($body_leading_charlie*1.25);
  }

  @media all and (min-width: $delta_query) {
    padding-bottom: rem($body_leading_delta*1.25);
  }

  @media all and (min-width: $echo_query) {
    padding-bottom: rem($body_leading_echo*1.25);
  }
}

.single.no-thumb .o-entry__header,
.page.no-thumb .o-entry__header{

  @media all and (min-width: $beta_query) {
    margin-top: $leading_beta*2;
  }

  @media all and (min-width: $charlie_query) {
    margin-top: $leading_charlie*2;
  }

  @media all and (min-width: $delta_query) {
      margin-top: $leading_delta*2;
  }

  @media all and (min-width: $echo_query) {
    margin-top: $leading_echo*1.5;
  }
}



// STATES ----------------------------------------------------------

// ANIMATIONS ----------------------------------------------------------