


// ATOMS ------------------------------------------------------------------

.a-listhead .a-icon.close:after{
  font-size: 50%;
}



// MODULES ------------------------------------------------------------------

.m-ul-large{

  li a{
    display: block;
    padding-top: rem($body_leading);
    padding-bottom: rem($body_leading);

    @media all and (min-width: $beta_query) {
      padding-top: rem($body_leading_beta);
      padding-bottom: rem($body_leading_beta);
    }

    @media all and (min-width: $charlie_query) {
      padding-top: rem($body_leading_charlie);
      padding-bottom: rem($body_leading_charlie);
    }

    @media all and (min-width: $delta_query) {
      padding-top: rem($body_leading_delta);
      padding-bottom: rem($body_leading_delta);
    }

    @media all and (min-width: $echo_query) {
      padding-top: rem($body_leading_echo);
      padding-bottom: rem($body_leading_echo);
    }
  }

  li + li{
    border-top: 1px solid $subtle-bordercolor;
  }

  .a-ul-large__span{
    display: inline-block;
    float: right;
    font-size: rem($rem_base);
    font-weight: 400;
    color: $body-textcolor;
  }
}



// ORGANISMS ------------------------------------------------------------------

.o-taglist {
  background-color: $action-color;

  .m-ul-large{
    @extend .l-gutter;
    padding-top: rem($header-slide__offset);
    padding-bottom: rem($body_leading*2);


    @media all and (min-width: $beta_query) {
      padding-top: rem($header-slide__offset*0.77 + $body_leading_beta);
      padding-bottom: rem($body_leading_beta*2);
    }

    @media all and (min-width: $charlie_query) {
      padding-top: rem($header-slide__offset*0.88 + $body_leading_charlie);
      padding-bottom: rem($body_leading_charlie*2);
    }

    @media all and (min-width: $delta_query) {
      padding-top: rem($header-slide__offset*0.89 + $body_leading_delta);
      padding-bottom: rem($body_leading_delta*2);
    }

    @media all and (min-width: $echo_query) {
      padding-top: rem($header-slide__offset*0.96 + $body_leading_echo);
      padding-bottom: rem($body_leading_echo*2);
    }

    .a-xlarge{
      margin-bottom: rem($body_leading);

      @media all and (min-width: $beta_query) {
        margin-bottom: rem($body_leading_beta);
      }

      @media all and (min-width: $charlie_query) {
        margin-bottom: rem($body_leading_charlie);
      }

      @media all and (min-width: $delta_query) {
        margin-bottom: rem($body_leading_delta);
      }

      @media all and (min-width: $echo_query) {
        margin-bottom: rem($body_leading_echo);
      }
    }

    a{
      color: $body-bgcolor;
    }

    li + li{
      border-color: rgba($body-textcolor, 0.3);
    }
  }
}

.o-no-content{

  .a-listhead{
    display: none;
  }

  .a-ul-large li:last-of-type{
    padding-bottom: 0;
  }
}



// STATES ------------------------------------------------------------------

.o-taglist.s-is-hidden{
  position: relative;
  transform: translate3d(0,rem(-$body_leading*2),0);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;

  a{
    pointer-events: none;
  }
}

@media all and (min-width: $charlie_query) {

  .a-listhead:hover{
    cursor: pointer;

    .a-icon:after{
      color: $body-bgcolor;
    }
  }

  .m-ul-large li:hover a{
    color: $body-textcolor;
  }

  .o-taglist .m-ul-large li:hover a{
    color: $body-textcolor;
  }

  .m-ul-large li:hover,
  .m-ul-large:hover .a-listhead{
    opacity: 1;
  }
}



// ANIMATIONS ------------------------------------------------------------------

.o-taglist{
  transition: opacity $transition-time ease-out, transform $transition-time ease-out;
}

.o-taglist a,
.a-listhead .a-icon:after{
  transition: color $transition-time/2 ease-out;
}